<ion-view view-title="Qty to pick for zone {{zone}}">

 <ion-nav-buttons side="left">
         <button class="button button-icon button-clear" ng-click="back();">
            <i class="icon ion-chevron-left"></i>
        </button>

        <button ng-show="isLogged" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>


    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon">
            </i>
            <input type="search" placeholder="Search" ng-model="searchParam" uppercased>
        </label>
        <button class="button button-small" type="button" ng-click="ScanBarcode()"><span class="icon ion-ios-barcode"></span></button>
    </div>
    <ion-content class="has-header has-subheader padding">
        <ion-refresher
                       pulling-text="Pull to refresh..."
                       on-refresh="GeItemToPick()"
                       spiner="android">
        </ion-refresher>
        <p>Total number of Item : {{list.length}}</p>
      <ion-item style="text-decoration:none;" class="item-text-wrap item-icon-right item" ng-repeat="item in list | filter:searchParam | orderBy:'PickingSequence'" ng-click="showMoreInfoModal(item.PalleteNo);ResetFilter();">
            <div class="row">
                <div class="col-10">
                {{$index + 1}}
                </div>
                 <div class="col-90">
                    <p>PicklistID  : <strong>{{item.PicklistID}}</strong></p>
                     <p>Location  : <strong>{{item.LocationCode}}</strong></p>
                     <p>Item   : <strong>{{item.ItemCode}} - {{item.ItemDescription}}</strong></p>
                     <p>Trans Qty  : <strong>{{item.TransactionQty}}</strong></p>
                     <p>Lot # : <strong>{{item.LotNumber}}</strong></p>
                     <p>Exp. Date  : <strong>{{item.ExpiryDate | date}}</strong></p>
                     <p text-wrap style="margin-left: 20px;">Ref: {{ item.ReferenceNo }}</p>
                </div>
           
                </div>
        </ion-item>
    </ion-content>
</ion-view>