
<ion-view view-title="Day Issued">
    <ion-nav-buttons side="left">
      <!--<button class="button button-icon button-clear" ui-sref="app.home">-->
      <button class="button button-icon button-clear" ng-click="goBack()">
        <i class="icon ion-chevron-left"></i>
      </button>
      <!--<ion-nav-back-button>
          </ion-nav-back-button>-->
  
      <button
        ng-show="isLogged"
        class="button button-icon button-clear ion-navicon"
        menu-toggle="left"
      ></button>
    </ion-nav-buttons>
    <ion-content class="padding"  ng-init="init()">
      <div class="item item-body">
        <div class="col-md6 col-lg-6 admin-grid">
          <div class="panel panel-primary panel-border top" id="p2">
            <div class="panel-body" >
              <hc-area>
                  title="Pallet Inventory All Site"
                  subtitle="adfa"
                  data=DashBoardDataTrend.data
                  categories=DashBoardDataTrend.categories
              </hc-area>
            </div>
          </div>
        </div>
  
      </div>
    </ion-content>
  </ion-view>