<ion-view view-title="List of items to pick {{pickid}}">
 <ion-nav-buttons side="left">
    <button class="button button-icon button-clear" ui-sref="app.itempickzonepicklist" style="margin-right:5px">
            <i class="icon ion-chevron-left"></i>
        </button>

        <button ng-show="isLogged" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>

    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon">
            </i>
            <input type="search" placeholder="Search" ng-model="searchPalleteList" uppercased>
        </label>
        <button class="button button-small" type="button" ng-click="ScanBarcode()"><span class="icon ion-ios-barcode"></span></button>
    </div>
    <ion-content class="has-header has-subheader padding">
        <ion-refresher
                       pulling-text="Pull to refresh..."
                       on-refresh="getZonePalleteList()"
                       spiner="android">
        </ion-refresher>
        <p>Total number of line item : {{PalleteList.length}}</p>
        <ion-list>
            <ion-item class="item-text-wrap item-icon-right item" style="text-decoration:none" ng-repeat="item in PalleteList | filter : searchPalleteList | orderBy:'PickingSequence'" ng-click="showMoreInfoModal(item.PalleteNo);ResetFilter();">
                 <div class="row">
                    <div class="col-10">
                        {{$index + 1}}
                    </div>
                    <div class="col-90">
                        <p>Item   : <strong>{{item.ItemCode}} - {{item.ItemDescription}}</strong></p>
                        <p>Location  : <strong>{{item.LocationCode}}</strong></p>
                        <p>Trans Qty  : <strong>{{item.TransactionQty}}</strong></p>
                        <p>Lot #  : <strong>{{item.LotNumber}}</strong></p>
                        <p>Exp. Date  : <strong>{{item.ExpiryDate | date}}</strong></p>
                    </div>
                </div>
                <!--<i class="icon ion-ios-arrow-left"></i> 
                   <ion-option-button style="line-height:13px;" >
                    <div style="color:black; text-align:center; width:100px;">
                      <span style="color:red">Item : <br> <br>{{item.ItemCode}}<span><br><br>
                       <span style="color:blue"> Qty :<br><br> {{item.TransactionQty}}<span>
                    </div>
                </ion-option-button>
                
                <ion-option-button class="button-energized" ng-click="showPickItemModal(item.PalleteNo)">
                    <div style="color:white; text-align:center;">
                        <span class="ion-ios-upload" style="font-size:1.2em; display:block"></span> 
                        <span>Diff. pick</span> 
                    </div>
                </ion-option-button>

                <ion-option-button class="button-balanced" ng-click="PickAll(item.PalleteNo)">
                    <div style="color:white; text-align:center;">
                        <span class="ion-ios-upload" style="font-size:1.2em; display:block"></span> 
                        <span>Pick All</span> 
                    </div>
                </ion-option-button>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>